@use '../abstracts/variables';
@use '../abstracts/mixins';

.features {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: variables.$color-bg-alt;

  &__title {
    font-weight: 700;
    line-height: normal;
    @include mixins.fluid(font-size, 19, 36);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    list-style: none;
  }

  &__item {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: start;
    column-gap: 1rem;
  }

  &__icon {
    grid-row: 1 / span 2;
    width: 2rem;
    height: auto;
  }

  &__item-title {
    font-weight: 700;
    line-height: 155.556%;
    @include mixins.fluid(font-size, 18, 24);
  }

  &__item-text {
    margin-top: 0.5rem;
    line-height: 175%;
    @include mixins.fluid(font-size, 12, 16);
  }

  @include mixins.respond(desktop) {
    padding-top: 5.5rem;
    padding-bottom: 5.9rem;

    &__title {
      line-height: 116.667%;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3rem 1rem;
      margin-top: 3rem;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 19rem;
    }

    &__icon {
      width: 3.25rem;
    }

    &__item-title {
      margin-top: 1.25rem;
      line-height: 116.667%;
    }

    &__item-text {
      margin-top: 1rem;
    }
  }
}
