@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
  padding-top: 2rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__social-link {
    display: flex;
    align-items: center;

    img {
      width: 1rem;
      height: auto;
    }
  }

  @include mixins.respond(desktop) {
    padding-top: 2.5rem;

    &__social {
      gap: 1rem;
    }

    &__social-link img {
      width: 1.25rem;
    }
  }
}
