@use '../abstracts/variables';
@use '../abstracts/mixins';

.hero {
  padding-top: 2.5rem;
  padding-bottom: 3rem;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__avatar {
    width: 6.875rem;
    height: auto;
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__name-block {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__label {
    color: variables.$color-accent;
    font-weight: 700;
    line-height: 168.75%;
    @include mixins.fluid(font-size, 16, 24);
  }

  &__name {
    font-weight: 700;
    line-height: normal;
    @include mixins.fluid(font-size, 24, 50);
  }

  &__description {
    margin-top: 1rem;
    @include mixins.fluid(font-size, 14, 16);
    line-height: 140%;
  }

  .btn--primary {
    margin-top: 2rem;
  }

  @include mixins.respond(desktop) {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;

    &__inner {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0;
    }

    &__avatar {
      width: 24rem;
    }

    &__text {
      align-items: flex-start;
      width: 29rem;
      text-align: left;
    }

    &__name-block {
      gap: 0.75rem;
    }

    &__label {
      margin-top: 2.25rem;
      line-height: 116.667%;
    }

    &__name {
      line-height: 118%;
    }

    &__description {
      margin-top: 1.5rem;
      line-height: 175%;
    }

    .btn--primary {
      width: 18.75rem;
      margin-top: 2.4rem;
    }
  }
}
