@use '../abstracts/variables';
@use '../abstracts/mixins';

.portfolio {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__title {
    font-weight: 700;
    line-height: normal;
    @include mixins.fluid(font-size, 19, 36);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    list-style: none;
  }

  @include mixins.respond(desktop) {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;

    &__title {
      line-height: 116.667%;
    }

    &__list {
      flex-direction: row;
      gap: 1rem;
      margin-top: 3rem;
    }

    &__item {
      width: 19rem;
    }
  }
}
