@use '../abstracts/variables';
@use '../abstracts/mixins';

.card {
  position: relative;
  overflow: hidden;
  border-radius: 0.375rem; // 6px
  height: 10.375rem; // 166px mobile

  &__image {
    display: block; // убирает gap под inline img
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(206, 206, 206, 0) 0.25%,
      #213e60 99.75%
    );
  }

  &__content {
    position: absolute;
    left: 1rem; // 16px mobile
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; // 16px между заголовком и кнопкой
  }

  &__title {
    @include mixins.fluid(font-size, 16, 18);
    font-weight: 700;
    line-height: normal;
    color: variables.$color-text;
    max-width: 9.438rem;
  }

  @include mixins.respond(desktop) {
    height: 19rem; // 304px desktop

    &__content {
      left: 2rem; // 32px desktop
      right: 2rem;
      bottom: 2rem;
    }
    &__title {
      max-width: none;
      line-height: 155.556%;
    }
  }
}
