@use '../abstracts/variables';

body {
  font-family: variables.$font-base;
  font-size:   variables.$font-size-base;
  line-height: variables.$line-height-base;
  color:       variables.$color-text;
  background-color: variables.$color-bg;
}
